<%- include('header') -%>

  <main>
    <h1>Undirskriftalisti - umsjón</h1>
    <p>Innskráð/ur sem: <b>
        <%= locals.user.name %>
      </b></p>
    <a href='<%= '/logout' %>'>Útskrá</a>
    <h2>Undirskriftir</h2>
    <p class='centered'>Fjöldi undirskrifta: <%= result.count %>
    </p>

    <section class='grid'>
      <table>
        <tr>
          <th class='col-2'>Dags</th>
          <th class='col-2'>Nafn</th>
          <th class='col-8'>Athugasemd</th>
          <th class='col-2'>Eyða</th>
        </tr>
        <% result.rows.forEach(row=> { %>
          <tr>
            <td>
              <%= locals.time(row.signed) %>
            </td>
            <td>
              <%= row.name %>
            </td>
            <td>
              <%= row.comment %>
            </td>
            <td>
              <form method="post" action="/delete" enctype="application/x-www-form-urlencoded">
                <input id="number" name = "number" type=hidden value="<%= row.id %>">
              <input id="eyda" name="eyda" type="submit" value="Eyða">
            </form>
            </td>
          </tr>
          <% }) %>
      </table>
      <div class='row'>
        <% if (result._links.prev) { %>
        <a href="<%= result._links.prev.href %>">Fyrri síða</a>
        <% } else { %>
          <p>Fyrri síða</p>
        <% } %>
        <p><%= result.page %>/<%= result.ceil %></p>
        <% if (result._links.next) { %>
          <a href="<%= result._links.next.href %>">Næsta síða</a>
          <% } else { %>
            <p>Næsta síða</p>
          <% } %>
      </div>
  </main>

  <%- include('footer') -%>
